#shellcheck disable=SC2148,SC2155

use_sops() {
  local path=${1:-$PWD/secrets.yaml}
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

export CLIPPY_CONF_DIR=".config"
export RENOVATE_AUTODISCOVER="true"
export RENOVATE_AUTODISCOVER_FILTER="szinn/MailKeep"
export RUST_LOG="TRACE"
export DOCKER_HOST="unix://$HOME/.config/colima/default/docker.sock"

export MAILKEEP__FRONTEND__LISTEN_IP="0.0.0.0"
export MAILKEEP__FRONTEND__LISTEN_PORT="8083"
export MAILKEEP__FRONTEND__BASE_URL="http://odin:8083"
export MAILKEEP__METADATA_PATH="/Users/scotte/Development/Projects/MailKeep/Data"
export MAILKEEP__STORAGE_PATH="/Users/scotte/Development/Projects/MailKeep/Data/Emails"

export ISSUEBOSS_GRPC_HOST="https://issueboss.zinn.ca"
export ISSUEBOSS_GRPC_PORT="8443"
export ISSUEBOSS_MCP_PORT="8090"

use_sops config.sops.env
